[req]
default_bits = 2048
prompt = no
default_md = sha256
distinguished_name = dn
req_extensions = req_ext

[dn]
CN = 10.0.2.2

[req_ext]
subjectAltName = @alt_names

[alt_names]
IP.1 = 10.0.2.2
IP.2 = 127.0.0.1
DNS.1 = localhost